<% title "Tasks" %>
<table>
  <tr>
    <th>Name</th>
    <th>Finished</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%= task.name %></td>
      <td>
	      <% if task.finished %>
			<%= image_tag("green.jpg", :size => "20x20")  %>
		  <% else %>
			<%= image_tag("red.gif") %>
		  <% end %>
      </td>
      <td><%= link_to "Show", task %></td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Task", new_task_path %></p>
